* {
    margin: 0;
    
}

body {
    background-color: #E4E0DB;
    
}

.app {
   
    justify-content: space-evenly;
    padding: 30px;
}

.app_header h1 {
    font-size: 35px;
    text-align: center;
    font-family:cursive;
}

.Line_Graph h3 {
    font-size:x-large;
    font-family:monospace;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.3rem;

}

